/* Główne ustawienia */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	color: #fff;
	margin: 20px auto;
	background: #666;
	color: #222;
	line-height: 1.6;
	max-width: 1040px;
}


/* Nagłówek */
header {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	min-height: 227px;
	padding: 0 10px;
	background: #333;
	color: white;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header > h1 {
	color: #ffffff;
	font-family: 'Arial Black';
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}

header > h2 {
	color: #797979;
	font-family: 'Arial Black';
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	padding: 0 0 20px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

/* Menu */
nav ul {
	display: block;
	/* float: right; */
	list-style: none outside none;
	margin: 0 auto;
	/* max-width: 1501px; */
	padding: 40px 0px 0px;
	text-align: center;
}

nav ul>li {
	display: inline-block;
	margin: 0 0 0 37px;
	padding: 0;
	width: auto;
}

.top-header {
	display: flex;
	align-items: center;
	/* pionowe wycentrowanie */
	gap: 20px;
	/* odstęp między logo a tytułami */
}

/* nav ul>li:first-child {
	font-weight: bold;
} */


header nav ul li a {
	color: #ffffff;
	font-family: "Arial Black";
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

nav a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

nav a:hover {
	color: #66aaff;
}

header ul li.selected a,
header div ul li.selected a:hover {
	color: #fb416f;
}

header ul li a:hover {
	color: #16ab88;
}

/* Treść */
main {
	max-width: 900px;
	margin: 20px auto;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main>article {
	background: #ffffff;
	color: black;
	margin-bottom: 20px;
}

main > article:first-child {
	background-color: #dddddd;
}

.cytat {
	font-style: italic;
}


section ul li {
	margin-bottom: 6px;
}


/* Formularz */
form label {
	display: block;
	margin-bottom: 10px;
}

input[type="email"],
input[type="date"],
input[type="color"] {
	padding: 6px;
	border: 1px solid #888;
	border-radius: 5px;
}

input[type="submit"] {
	padding: 10px 20px;
	border: none;
	background: #333;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s;
}

input[type="submit"]:hover {
	background: #555;
}


/* Fat footer */
footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	background: #222;
	color: white;
	padding: 30px;
	margin-top: 40px;
	font-family: "Arial Black";
}

footer h4 {
	font-family: "Arial Black";
	margin-bottom: 10px;
}

footer ul {
	list-style: none;
}

footer li a {
	text-decoration: none;
	color: #aaa;
	transition: 0.3s;
}

footer li a:hover {
	color: white;
}
